h1{
   
   font-size: 250%;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: rgb(99, 17, 2);
    font-size: 200%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.firstTitle{
    color: darkred; 
}
.para1{
    font-family: monospace;
}
p{
    color: rgb(7, 65, 7);

}